<img class="responsive-img center" src="assets/images/growth.jpg">
<h6 class = "grey-text text-darken-1">Our Perspective</h6>
<p>
Growth is a capability, like Financial Management, that requires robust processes and 
capabilities. The growth diagnostic helps us to understand where we have opportunities to 
drive incremental growth, and where we lack the processes and capabilities to drive growth. We organize the required capabilities and process into twelve different categories.
</p>

<div class="row">

    <ol>
        <p class="blue-grey-text">
                <li>Strategic Vision</li>
                <li> Market Leadership Plan</li>
                <li>Growth Opportunities</li>
                <li>Growth Leadership</li>
                <li>Decision Rights</li>
                <li>Incentives & Metrics</li>
                <li>Marketing Capabilities</li>
                <li> Operating Capabilities</li>
                <li> Innovation Skills</li>
                <li> Growth Initiatives</li>
                <li> Pressure Testing</li>
                <li>  Staged Launches</li>
        </p>   
    </ol>
</div>

<h6 class = "grey-text text-darken-1"> Our Approach </h6>
<p>
<b>Step 1:</b> We begin by analyzing the current growth trajectory by business unit. We break growth down to understand the sources of growth, including share of wallet expansion, new customer acquisition, new products, and new markets.
</p>
<p>
<b>Step 2:</b> Next we survey senior executives with targeted questions to understand the strength of existing growth processes and capabilities. 
</p>
<p>
<b>Step 3:</b> Finally, we share the quantiative and qualitative analysis with senior executives, along with preliminary perspectives on growth opportunities. We refine the prioritization of these growth opportunities in collaboration with senior executives.
</p>