<h6 class = "grey-text text-darken-1">Our Perspective</h6>
<p>
Growth is a capability, like Financial Management, that requires robust processes and 
capabilities. The growth diagnostic helps us to understand where we have opportunities to 
drive incremental growth, and where we lack the processes and capabilities to drive growth. We organize the required capabilities and process into twelve different categories.
</p>

<div class="row">

    <div class="col s12 m6 l3">
        <div class="card-box indigo lighten-5 valign-wrapper">
            <h6 class="blue-grey-text"><b>
                Strategic <br> Vision
            </b></h6>
        </div>
    </div>

    <div class="col s12 m6 l3">
        <div class="card-box indigo lighten-5 valign-wrapper">
            <h6 class="blue-grey-text"><b>
                Market Leadership <br> Plan
            </b></h6>
        </div>
    </div>

    <div class="col s12 m6 l3">
        <div class="card-box indigo lighten-5 valign-wrapper">
            <h6 class="blue-grey-text"><b>
                Growth <br> Opportunities
            </b></h6>
        </div>
    </div>

    <div class="col s12 m6 l3">
        <div class="card-box indigo lighten-5 valign-wrapper">
            <h6 class="blue-grey-text"><b>
                Growth <br> Leadership
            </b></h6>
        </div>
    </div>

                <div class="col s12 m6 l3">
        <div class="card-box indigo lighten-5 valign-wrapper">
            <h6 class="blue-grey-text"><b>
                Decision <br> Rights
            </b></h6>
        </div>
    </div>

    <div class="col s12 m6 l3">
        <div class="card-box indigo lighten-5 valign-wrapper">
            <h6 class="blue-grey-text"><b>
                Incentives & <br> Metrics
            </b></h6>
        </div>
    </div>

    <div class="col s12 m6 l3">
        <div class="card-box indigo lighten-5 valign-wrapper">
            <h6 class="blue-grey-text"><b>
                Marketing <br> Capabilities
            </b></h6>
        </div>
    </div>

    <div class="col s12 m6 l3">
        <div class="card-box indigo lighten-5 valign-wrapper">
            <h6 class="blue-grey-text"><b>
                Operating <br> Capabilities
            </b></h6>
        </div>
    </div>

                <div class="col s12 m6 l3">
        <div class="card-box indigo lighten-5 valign-wrapper">
            <h6 class="blue-grey-text"><b>
                Innovation <br> Skills
            </b></h6>
        </div>
    </div>

    <div class="col s12 m6 l3">
        <div class="card-box indigo lighten-5 valign-wrapper">
            <h6 class="blue-grey-text"><b>
                Growth <br> Initiatives
            </b></h6>
        </div>
    </div>

    <div class="col s12 m6 l3">
        <div class="card-box indigo lighten-5 valign-wrapper">
            <h6 class="blue-grey-text"><b>
                Pressure <br> Testing
            </b></h6>
        </div>
    </div>

    <div class="col s12 m6 l3">
        <div class="card-box indigo lighten-5 valign-wrapper">
            <h6 class="blue-grey-text"><b>
                Staged <br> Launches
            </b></h6>
        </div>
    </div>
</div>

<h6 class = "grey-text text-darken-1"> Our Approach </h6>
<p>
<b>Step 1:</b> We begin by analyzing the current growth trajectory by business unit. We break growth down to understand the sources of growth, including share of wallet expansion, new customer acquisition, new products, and new markets.
</p>
<p>
<b>Step 2:</b> Next we survey senior executives with targeted questions to understand the strength of existing growth processes and capabilities. 
</p>
<p>
<b>Step 3:</b> Finally, we share the quantiative and qualitative analysis with senior executives, along with preliminary perspectives on growth opportunities. We refine the prioritization of these growth opportunities in collaboration with senior executives.
</p>