<img class="responsive-img center" src="assets/images/growth.jpg">
<h6 class = "blue-grey-text">Our Perspective</h6>
<p>
Growth requires more than creativity - it requires robust processes and capabilities. 
Our growth diagnostic can help you assess your processes and capabilities, 
and help you identify specific opportunities for incremental growth.
Our growth diagnostic assesses your:</p>

<div class="row">

    <ol>
        <p class="blue-grey-text">
                <li>Strategic Vision</li>
                <li>Growth Leadership</li>
                <li>Decision Rights</li>
                <li>Incentives & Metrics</li>
                <li>Marketing Capabilities</li>
                <li> Operating Capabilities</li>
                <li> Innovation Skills</li>
                <li> Growth Initiatives</li>
                <li> Agile Capabilities</li>
                <li> Ability to Scale Innovation</li>
        </p>   
    </ol>
</div>

<h6 class = "blue-grey-text"> Our Approach </h6>
<p>
<b class = "blue-grey-text">Step 1:</b> 
We begin by assessing your current growth trajectory across major business units. 
We analyze the sources of growth, including share of wallet expansion, new customer acquisition, new products, and new markets.
</p>
<p>
<b class = "blue-grey-text">Step 2:</b> 
Next, we survey senior executives with targeted questions to understand the strength of existing 
growth processes and capabilities. 
</p>
<p>
<b class = "blue-grey-text">Step 3:</b> 
Finally, we share the quantiative and qualitative analysis with senior executives, along with preliminary 
perspectives on growth opportunities. We refine the prioritization of these growth opportunities in collaboration 
with senior executives.
</p>