<img class="responsive-img center" src="assets/images/future.png">
<h6 class = "blue-grey-text">Our Perspective</h6>

<p>
Most organizations only look a few years into the future. 

Scenario planning provides a long-term perspective. 

It's about looking a decade or more into the future, exploring possible futures,  
and assessing their long-term implications - both threats and opportunities - for an organization.
</p>

<br>
<h6 class = "blue-grey-text"> Our Approach </h6>

<p>
We have a robust, structured scenario development process that has proven highly effective 
within large organizations. At the heart of the process is the framing of scenarios around 
the most critical uncertainties faced by the organization. The key steps are as follows:
<p>
<ol>
    <li><b class = "blue-grey-text">Define the key decision</b> that need to be made</li>
    <li><b class = "blue-grey-text">Identify key forces</b> in the environment</li>
    <li><b class = "blue-grey-text">Prioritize external forces</b> based on their importance and uncertainty</li>
    <li><b class = "blue-grey-text">Develop scenarios</b> based on combinations of key forces</li>
    <li><b class = "blue-grey-text">Identify implications</b> for the organization</li>
</ol>

<p>
Please contact us to learn more about how we've used this approach in practice.
</p>
