<img class="responsive-img center" src="assets/images/future.png">
<h6 class = "blue-grey-text">Our Perspective</h6>

<p>
Many organizations have a planning process where they look a few years into the future. Scenario planning is fundamentally different. It's about looking a decade or more into the future and exploring possible futures and their long-term implications for our organization. 

We have a robust scenario development process that has proven highly effective within large organizations. At the heart of the process is building sceanrios around the most critical uncertainties. The transportation scenario matrix illustrates what this can look like in practice - we can see that the cost of energy and the desire for physical versus virtual interaction. The most appropriate framing of scenarios depends on how they're been used by the organization - part if the art and science of scenario planning is working through a structured process to reach a set of scenarios that provides new thinking about new threats and opportunities that the organization may face in the future.
</p>

<br>
<h6 class = "blue-grey-text"> Our Approach </h6>

<p>
We have a standard and accelerated approach to scenario planning. The key steps to the standard approach are as follows:
<p>
<ol>
    <li>Define the key decision that needs to be made</li>
    <li>Identify and research key forces in environment</li>
    <li>Prioritize the external foces based on their importance and uncertainty</li>
    <li>Develop scenarios</li>
    <li>Identify implications for our organization</li>
</ol>

<p>
Please contact us to learn more about how we've used this approach in practice.
</p>
