<img class="responsive-img center" src="assets/images/chess.jpeg">

<h6 class = "blue-grey-text">Our Perspective</h6>
<p>
    Strategy is fundamentally about making choices that create a differentiated 
    market position. It sounds easy, but is very hard in practice. Why? 
    Because it involves challenging trade-offs. A shift in strategy requires not 
    only deciding "what to do", but also deciding "what not to do". 
    The organization must put in place a set of inter-locking activities that support 
    their strategic choices. The self-reinforcing nature of the entire activity system 
    makes it hard for competitors to replicate.  
    
</p>

<h6 class = "blue-grey-text"> Our Approach </h6>
<p>
The core of our strategy development process involves addressing five strategic questions:
</p>
<ol>
    <li>What are our goals?</li> 
    <li>Where will we play?</li> 
    <li>How will we win?</li> 
    <li>What capabilities must be in place?</li> 
    <li>What management systems are required?</li> 
</ol>

<p>
    We take a flexible and highly collaborative approach, involving all of the key 
    stakeholders in a process which is adapted to your specific needs. At the heart of 
    the process we define strategic choices, identify key assumptions, and test those
    assumptions through in-depth research and analysis.
    Please get in touch to learn about how we've used this approach to align leadership teams around a compelling strategy.
</p>    