<img class="responsive-img center" src="assets/images/chess.jpeg">

<h6 class = "blue-grey-text">Our Perspective</h6>
<p>Strategy is fundamentally about making choices that create a differentiated market position. It sounds easy, but is very hard in practice. Why? Because it involves challenging trade-offs. A shift in strategy requires not only deciding "what to do", but also deciding "what not to do". To illustrate the challenge, let's look at an illustration of Vanguard's activity system:
</p>

</i></p>
<p>
Vanguard has put in place a set of inter-loacking activities that support their pursuit of a low-cost investing strategy. Given the long-term trend towards investing in low-cost index funds, other firms have have tried to gain share in passive funds. So, how has Vanguard been able to maintain it's #1 position in index funds? Because Vanguard's success is not due to a handful of strategic choices - it's due to the self-reinforcing nature of an entire activity system. Traditional asset managers have a completely different activity system that aligns well with a focus on active management, but is ill-suited to competing head-on with Vanguard. 
</p>

<h6 class = "blue-grey-text"> Our Approach </h6>
<p>
The core of our strategy development process involves addressing five strategic questions:
</p>
<ol>
    <li>What are our goals?</li> 
    <li>Where will we play?</li> 
    <li>How will we win?</li> 
    <li>What capabilities must be in place?</li> 
    <li>What management systems are required?</li> 
</ol>

<p>These questions are addressed using a four-step approach:</p>
<ol>
    <li>Define strategic choices</li>
    <li>Identify key asumptions ("what we need to believe") for each strategy choices</li>
    <li>Test key assumptions</li>
    <li>Articulate Strategy</li>
</ol>

<p>We take a flexible and highly collaborative approach, involving all of the key stakeholders in a process which is adapted to your specific needs. Please get in touch to learn about how we've used this approach to align leadership teams around a compelling strategy.
</p>    