<img class="responsive-img center" src="assets/images/businessplans.jpg">
<h6 class = "blue-grey-text">Our Perspective</h6>
<p>We believe there are five key components that need to be part of any business case:
    <ol>
        <li><b class = "blue-grey-text">Value</b>: how our offer will create compelling value in the marketplace</li>
        <li><b class = "blue-grey-text">Demand</b>: validation that there is a critical mass of paying customers </li>
        <li><b class = "blue-grey-text">Supply</b>: capabilities required to develop the offer</li>
        <li><b class = "blue-grey-text">Unit economics</b>: ability to deliver the offer profitability</li>
        <li><b class = "blue-grey-text">Go-to-market</b>: plan to reach, engage, and win target customer cost-effectively </li>
    </ol>
</p><p>
    Most business cases focus heavily on the supply side - 
    detailing the internal costs of building the new product or business. 
    We take a venture capital perspective to business cases - 
    VC firms focus heavily on customer demand and unit economics.
</p>

<h6 class = "blue-grey-text"> Our Approach </h6>

<p>
In addition to addressing the questions above, 
we make sure that we address the context for business challenge or opportunity 
that we're addressing. We'll also typically develop a complex financial model that 
supports the business case, and develop a givernance approach that will help to ensure 
sucessful execution of the program. 

Financial impact can be challenging to estimate if we're at the early stages of 
defining the offering or if there's significant market undertainty. 
To address this, we believe in the importance of taking a sophisticated approach 
to risk analysis, especially where large investments are required. 
We use Monte Carlo simulation to capture the uncertainty around key assumptions, 
and the resulting impact on the financial outcomes that we care about.
</p>