<h6 class = "grey-text text-darken-1">Our Perspective</h6>
<p>We believe there are five key components that need to be part of any business case:
    <ol>
        <li><b>Value</b>: how our offer will create compelling value in the marketplace</li>
        <li><b>Demand</b>: providing confidence that there is a critical mass of paying customers </li>
        <li><b>Supply</b>: that we have or can acquire the capabilities required to develop the offer</li>
        <li><b>Unit economics</b>: we can deliver the offer at a cost that allows us to meet our profitability and ROI objectives</li>
        <li><b>Go-to-market</b>: plan to reach, engage, and win target customer cost-effectively </li>
    </ol>
</p><p>
    Most business cases focus heavily on the supply side - specifically, the internal costs of building the new product or business. We take a venture capital perspective to business cases - VC firms typically focus much more on customer demand and unit economics.
</p>

<h6 class = "grey-text text-darken-1"> Our Approach </h6>

<p>
In addition to addressing the questions above, we make sure that we address the context for business challenge or opportunity that we're addressing. We'll also typically develop a complex financial model that supports the business case, and develop a givernance approach that will help to ensure sucessful execution of the program. 

Financial impact can be challenging to estimate if we're at the early stages of defining the offering or if there's significant market undertainty. To address this, we believe in the importance of taking a sophisticated approach to risk analysis, especially where large investments are required. We use Monte Carlo simulation to capture the uncertainty around key assumptions, and the resulting impact on the financial outcomes that we care about.
</p>