<img class="responsive-img center" src="assets/images/businessplans.jpg">
<h6 class = "blue-grey-text">Our Perspective</h6>
<p>We believe there are five key components that need to be part of any business case:
    <ol>
        <li><b class = "blue-grey-text">Value</b>: how our offer will create compelling value in the marketplace</li>
        <li><b class = "blue-grey-text">Demand</b>: validation that there is a critical mass of paying customers </li>
        <li><b class = "blue-grey-text">Supply</b>: the capabilities required to develop the offer</li>
        <li><b class = "blue-grey-text">Unit economics</b>: path towards achieving long-term profitability</li>
        <li><b class = "blue-grey-text">Go-to-market</b>: plan to reach, engage, and win target customers cost-effectively </li>
    </ol>
</p><p>
    Most business cases focus heavily on the supply side - 
    detailing the internal costs of building the new product or business. 
    We take a venture capital perspective to business cases, placing 
    equal focus on validating customer demand and unit economics.
</p>

<h6 class = "blue-grey-text"> Our Approach </h6>

<p>
 Our approach to developing business cases addresses areas which are often neglected:
<ol>
    <li> <b class = "blue-grey-text">How do we deal with uncertainty?</b><br>
         We believe in the importance of taking a sophisticated approach 
         to risk analysis, especially where large investments are required. 
         We use Monte Carlo simulation to capture the uncertainty around key assumptions, 
         and the resulting impact on the financial outcomes that we care about.</li><br>
    <li> <b class = "blue-grey-text">How do we ensure successful execution?</b><br>
        We help you think through the right governance 
        structure for sucessful execution of the program.</li>
</ol>
</p>