<img class="responsive-img center" src="assets/images/stanley.png">

<h6 class = "grey-text text-darken-1">Our Perspective</h6>
<p>
Deep market understanding is the foundation for developing a robust strategy. Many firms
have a capability to scan the market, but it often lacks two components. Firstly, market analysis needs to be informed by current business performance and focused accordingly. Secondly, we need the ability to drive insight by testing specific market hypotheses. 

To underscore the importanceof market analysis, we like to use an anlaogy  - the 2005 DARPA challenge for the first driverless car to complete a 100+ mile course through the desert. It wasn't the car with best engine that won, it was the car with the most sophisticated ability to sense the external environment, separate signal from noise, and make sense of incoming information. Stanley, Stanford University's customized Volkswagen, was the winning car.
</p>


<br>
<h6 class = "grey-text text-darken-1"> Our Approach </h6>
<p>
We begin by working with you to agree on the the hypotheses that we want to test, and developing a list of established and emerging competitors that are of particular interest. To gther market insights, we leverage our extensive partnerships. We work with industry experts to gather deep insight into the market and key competitors, and we use a third-party market intelligence platform to source a broad range of market data and market reports. We'll share key insights as we progress through the research phase so that we can refine our focus to make sure we extract the most valuable market insights.
</p>