<img class="responsive-img center" src="assets/images/segmentation.jpeg">
<h6 class = "blue-grey-text">Our Perspective</h6>
<p>
Multimodal customer research (e.g., interviews + customer survey + focus groups) is 
typically the ideal solution if time and budget allows. The right combination of research
tools depends on the context. However, here's one effective model:
    <ol>
        <li>Interviews - small number of interviews to help identify key issues</li>
        <li>Survey - research survey to quantify key issues, and identify relevant segments</li>
        <li>Focus group - test specific new ideas with different customer segments</li>
    </ol>
</p>
<br>
<h6 class = "blue-grey-text"> Our Approach </h6>
<p>
Most firms will outsource most steps in this process to a market research firm. 
We will make a decision on which steps to outsource
based on the specific business situation. If needed, we have the capabilities to execute 
the entire market research process in-house. 
    <ol>
        <li><b class = "blue-grey-text">Define</b> research objectives</li>
        <li><b class = "blue-grey-text">Select</b> target audience
        <li><b class = "blue-grey-text">Identify</b> screening questions to recruit
        <li><b class = "blue-grey-text">Design</b> and review survey
        <li><b class = "blue-grey-text">Code</b> survey
        <li><b class = "blue-grey-text">Test</b> survey
        <li><b class = "blue-grey-text">Field</b> and monitor survey
        <li><b class = "blue-grey-text">Analyze</b> survey results
    </ol>
</p>