<img class="responsive-img center" src="assets/images/crowd.jpg">
<h6 class = "grey-text text-darken-1">Our Perspective</h6>

We believe ...

<h6 class = "grey-text text-darken-1"> Our Approach </h6>
<p>
Our approach follows the standard customer research approach, but have a more flexibility around our approach than most consulting firms. Most firms will outsource most steps in this process to a market research firm. We will make a decision on which steps to outsource based on the specific business situation. If needed, we have the capabilities to execute the entire market research process in-house. 

<ol>
<li>Align on research objectives</li>
    <li>Define target audience, including segments and sample sizes
    <li>Define screening questions to recruit
    <li>Design and review survey
    <li>Code survey
    <li>Test survey
    <li>Field and monitor survey
    <li>Analyze survey results
</ol>

</p>

