<img class="responsive-img center" src="assets/images/oldcar.jpeg">

<h6 class = "blue-grey-text">Our Perspective</h6>
<p>
Defining the value that we're providing to customers is the foundation of product strategy.

Consider Tesla and Toyota. 

Tesla is focused on delivering customer value through product leadership. It focuses on open communication and innovation.

Toyota is known for operational efficiency and quality control.  It focuses on the quest for continuous improvement through Kaizen.

The way that each firm delivers value is fundamentally different.  </p>

<p>

For every product we need to be clear about whether aiming to provide the best product, the best solution, 

the lowest cost offering, or the most convenient offering. 

</p>

<br>

<h6 class = "blue-grey-text"> Our Approach </h6>

<p><b class = "blue-grey-text">Step 1:</b> 
    We start by defining the value that we're delivering to customers. 
    This has to be defined in relation to the value that competitors are delivery, 
    so customer and competitor analysis if often a component of this phase. 
</p>

<p><b class = "blue-grey-text">Step 2:</b> 
    We next consider the processes and capabilities needed to deliver that value to customers. 
    We would typically assess existing processes and capabilities, and identify gaps that need to be closed.
</p>

<p><b class = "blue-grey-text">Step 3:</b>
    Finally, we aim to translate the product strategy into an executable product roadmap. 
    In most cases, we won't be starting with a blank sheet of paper. 
    We need to integrate top-down strategic considerations with product developments that may either 
    be in-flight or may have been committed to publicly or to indiviudal clients. 
</p>
