<h6 class = "grey-text text-darken-1">Our Perspective</h6>
<p>
Product Strategy starts by clearly defining the value that we're providing to customers. At the highest level, we're either aiming to provide the best product, the best solution, the lowest cost or the most convenient offering. We then need to articulate how we're going to deliver the value to customers. 

As an example, consider Tesla and Toyota. Tesla is focused on delivering customer value through product leadership, while Toyota is known for operational efficiency and quality control. The way that each firm delivers value is very different. Tesla focuses on open communication and innovation, while Toyota focuses on the quest for continuous improvement through Kaizen.
</p>

<img class="responsive-img center" src="assets/images/valueleadership.png">

<h6 class = "grey-text text-darken-1"> Our Approach </h6>
<p>
<b>Step 1:</b> We start by defining the value that we're delivering to customers. This has to be defined in relation to the value that competitors are delivery, so customer and competitor analysis if often a component of this phase. 

<b>Step 2:</b> We next consider the processes and capabilities needed to deliver that value to customers. We would typically assess existing processes and capabilities, and identify gaps that need to be closed.

<b>Step 3:</b>Finally, we aim to translate the product strategy into an executable product roadmap. In most cases, we won't be starting with a blank sheet of paper. We need to integrate top-down strategic considerations with product developments that may either be in-flight or may have been committed to publicly or to indiviudal clients. 
</p>