<img class="responsive-img center" src="assets/images/gtm.png">

<h6 class = "blue-grey-text">Our Perspective</h6>
<p>
Go-to-market strategy should be aligned with our growth objectives. The focus will differe significantly depending on the extent to which we expect growth to come from share of wallet epansion, new client acquisition, adjacent market, or entirely new markets.
</p>

<h6 class = "blue-grey-text"> Our Approach </h6>
<p>
There are three key components to our approach to go-to-market strategy:
<ol>
    <li>Target the right customers</li>
    <li> Define sales processes that align with customer buying processes</li>
    <li> Align sales, marketing, and customer service roles to align with sales processes</li>
</ol>
</p>
