
<img class="responsive-img center" src="assets/images/hype2.png">

<h6 class = "blue-grey-text">Our Perspective</h6>
<p>
Technology strategy should follow business strategy. For cost leaders, technology can
enable further automation of routine processes. For product leaders, technology can be 
a primary driver of innovation. The key focus should be on how technology can advance 
our business strategy and the level of impact that it can have. While this sounds obvious, 
it's easy to get distracted by the "hype cycle" and focus on the latest technology 
developments, regardless of their potential for business impact. 
</p>

<h6 class = "blue-grey-text"> Our Approach </h6>
<p>
We help firms with three discrete components of technology strategy:
    <ol>
        <li>Defining the <b class = "blue-grey-text">innovation agenda</b></li>
        <li>Researching current state of <b class = "blue-grey-text">emerging technologies</b></li>
        <li>Assessing <b class = "blue-grey-text">competitive position</b> with respect to critical technologies</li>
    </ol>
</p>

