<img class="responsive-img center" src="assets/images/innovation.jpeg">

<h6 class = "blue-grey-text">Our Perspective</h6>
<p>
Innovation in popular culture is coming up with the next breakthrough idea. For most firms, 
this kind of transformational innovation is not the primary innovation focus. The focus of
innovation - invention, commercialization, or exploitation - will depend on whether your
broader business and product strategy.
</p>


<h6 class = "blue-grey-text"> Our Approach </h6>
<p>
Our innovation process cover the three major stages of innovation:
</p>
<ol>
    <li>Discovery</li>
    <li>Incubation</li>
    <li>Acceleration</li>
</ol>
<p>
At the core of this process is an agile "test and learn" approach to incubation.
</p>

