<img class="responsive-img center" src="assets/images/change.jpg">
<h6 class = "blue-grey-text">Our Perspective</h6>

<p>
    Kotter's 8-step methodology:
    
    <ol>
        <li>Create A Sense of Urgency</li>
        <li>Build A Guiding Coalition</li>
        <li>Form A Strategic Vision</li>
        <li>Enlist A Volunteer Army</li>
        <li>Enable Action By Removing Barriers</li>
        <li>Generate Short-Term Wins</li>
        <li>Sustain Acceleration</li>
        <li>Institute Change</li>
    </ol>
    </p>

<h6 class = "blue-grey-text"> Our Approach </h6>

