<img class="responsive-img center" src="assets/images/change.jpg">
<h6 class = "blue-grey-text">Our Perspective</h6>

<p>
   Transformation Management should be much more than a simple rebarnding of traditional
   program management. The fundamental difference is that program management is primarily focused
   on delivering on-time and on-budget; transformation management is focused on
   delivering desired business outcomes. In practice, the difference is that Transoformation
   Management activities are designed top-down to meet the needs of senior executives. 
   (In contrast, program management tends to be designed bottom-up, based on the 
   indiviudal project objectives.)  
</p>

<h6 class = "blue-grey-text"> Our Approach </h6>

<p>
    We can help you create a Transformation Management Office from scratch, 
    or improve the effectiveness of your existing transformation management activities. 
    We use a player-coach model where we'll be actively involved in the execution of 
    transformation while we're designing upgraded processes and building new tools. 
    Large programs with many projects can carry a heavy administrative burden to 
    track progress and financial results. We can develop highly-automted tools that will
    minimize the administrative burden.
</p>

