<h6 class = "grey-text text-darken-1">Our Perspective</h6>

Half of M&A transactions don't create shareholder value. The reasons are complex, but academic studies point to two major reasons: post-deal integration planning and execution and the quality of pre-deal market due diligence. In a competitive M&A market, inadequate due diligence often leads to an optimistic evluation of the target firm. Hence, the winner's curse! We believe in a hypothesis-driven approach that stress-tests the deal thesis through focused customer research.

<img class="responsive-img center" src="assets/images/winnerscurse.png">

<h6 class = "grey-text text-darken-1"> Our Approach </h6>

<p>
Our hypothesis-driven approach is customized for every deal. We draw on a broad range of tools and information sources in our due dilligance process. Our CDD toolkit includes:
<ul>                
<li>Industry mapping</li>          
<li>Market mapping</li>              
<li>Competition and benchmarking</li> 
<li>Assessment of strategy</li>       
<li>Operational improvement</li>      
<li>Technology assessment</li>       
<li>Revenue modelling</li>            
<li>Pricing and margins</li>          
<li>Projection sensitivities</li>   
<li>Post transaction priorities</li> 
<li>Exit options</li>             
<li>Management briefings</li>
<li>Structured management interviews</li>
<li>Desk research</li>
<li>Customer interviews</li>
<li>Industry interviews</li>
<li>Expert consultation</li>
<li>In company diagnostics</li>
</ul>
</p>