<div id="portfolio" class="section gray">
    <div class="container">

    <h4 class = "center-align">How We Can Help</h4>
    <p class="light">Please reach out to learn more about how we've driven meaningful impact 
    for clients, and how we can create a customized approach for your specific business situation.
    We've outlined our core offerings below.  </p>

        <div class="gallery row">

            <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter">
                <div class="gallery-curve-wrapper">

                    <div class="gallery-header indigo lighten-5">
                        
                        <h5 class="blue-grey-text">
                            <b>Growth <br>Diagnostic</b>
                        </h5>
                        <span class="light">
                            Conduct a growth diagnostic to 
                            assess growth performance, 
                            diagnose strength of growth and innovation opportunities, 
                            and identify opportunities to accelerate growth 
                        </span>
                        {% include morebutton.html %}
                    </div>
                    <div class="gallery-body">
                        <div class="title-wrapper">
                            <h5 class="blue-grey-text center-align"><b>
                                Growth Diagnostic
                            </b></h5>
                        </div>
                        <p class="description">
                            {% include 01_diagnostic.html %}
                        </p>
                    </div>
                    
                </div>  
            </div>



            <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter">
                <div class="gallery-curve-wrapper">

                    <div class="gallery-header indigo lighten-5">
                        <h5 class="blue-grey-text">
                            <b>Scenario <br>Planning</b>
                        </h5>
                        <span class="light">
                            Identify critical forces that will shape the environment over the next decade, 
                            map out potential plausible futures, and identify implications 
                            and opportunities for growth 
                        </span>
                        {% include morebutton.html %}
                    </div>

                    <div class="gallery-body">
                        <div class="title-wrapper">
                            <h5 class="blue-grey-text center-align"><b>
                                Scenario Planning
                            </b></h5>
                        </div>
                        <p class="description">
                            {% include 02_scenarios.html %}
                        </p>
                    </div>
                </div>  
            </div>

            <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter">
                <div class="gallery-curve-wrapper">

                    <div class="gallery-header indigo lighten-5">
                        <h5 class="blue-grey-text">
                            <b>Strategy <br>Development</b>
                        </h5>
                        <span class="light">
                            Define where to focus resources ("where to play") and 
                            how to compete effectively against competitors ("how to win") 
                            by evaluating a range of strategic options
                        </span>
                        {% include morebutton.html %}
                    </div>

                    <div class="gallery-body">
                        <div class="title-wrapper">
                            <h5 class="blue-grey-text center-align"><b>
                                Strategy Development
                            </b></h5>
                        </div>
                        <p class="description">
                            {% include 03_strategy.html %}
                        </p>
                    </div>
                </div>  
            </div>

            <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter">
                <div class="gallery-curve-wrapper">

                    <div class="gallery-header indigo lighten-5">
                        <h5 class="blue-grey-text">
                            <b>Business Case <br>Development</b>
                        </h5>
                        <span class="light">
                            Develop compelling business cases for new offerings and new businesses, 
                            supported by robust financial models and in-depth market analysis 
                        </span>
                        {% include morebutton.html %}
                    </div>

                    <div class="gallery-body">
                        <div class="title-wrapper">
                            <h5 class="blue-grey-text center-align"><b>
                                Business Case Development
                            </b></h5>
                        </div>
                        <p class="description">
                            {% include 04_bizcase.html %}
                        </p>
                    </div>
                </div>  
            </div>

            <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter">
                <div class="gallery-curve-wrapper">

                    <div class="gallery-header indigo lighten-5">
                        <h5 class="blue-grey-text">
                            <b>Market <br>Analysis</b>
                        </h5>
                        <span class="light">
                            Partner with our panel of industry experts to provide insight on the 
                            competitive landscape and market dynamics, especially within underpenetrated
                            customer segments
                        </span>
                        {% include morebutton.html %}
                    </div>

                    <div class="gallery-body">
                        <div class="title-wrapper">
                            <h5 class="blue-grey-text center-align"><b>
                                Market Analysis
                            </b></h5>
                        </div>
                        <p class="description">
                            {% include 05_marketanalysis.html %}
                        </p>
                    </div>
                </div>  
            </div>

            <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter">
                <div class="gallery-curve-wrapper">

                    <div class="gallery-header indigo lighten-5">
                        <h5 class="blue-grey-text">
                            <b>Customer <br>Research</b>
                        </h5>
                        <span class="light">
                            Design and field customer surveys to segment customers, 
                            understand customer buying processes, 
                            and identify competitive strengths and weaknesses
                        </span>
                        {% include morebutton.html %}
                    </div>

                    <div class="gallery-body">
                        <div class="title-wrapper">
                            <h5 class="blue-grey-text center-align"><b>
                                Customer Research
                            </b></h5>
                        </div>
                        <p class="description">
                            {% include 06_customerresearch.html %}
                        </p>
                    </div>
                </div>  
            </div>

            <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter">
                <div class="gallery-curve-wrapper">

                    <div class="gallery-header indigo lighten-5">
                        <h5 class="blue-grey-text">
                            <b>Product <br>Strategy</b>
                        </h5>
                        <span class="light">
                            Define sources of competitive advantage and 
                            align business units and functional teams 
                            around a product vision, strategy and roadmap 
                        </span>
                        {% include morebutton.html %}
                    </div>

                    <div class="gallery-body">
                        <div class="title-wrapper">
                            <h5 class="blue-grey-text center-align"><b>
                                Product Strategy
                            </b></h5>
                        </div>
                        <p class="description">
                            {% include 07_product.html %}
                        </p>
                    </div>
                </div>  
            </div>

            <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter">
                <div class="gallery-curve-wrapper">

                    <div class="gallery-header indigo lighten-5">
                        <h5 class="blue-grey-text">
                            <b>Go-to-market <br>Strategy</b>
                        </h5>
                        <span class="light">
                            Create a customer segmentation, 
                            map out the buying process at a segment level, 
                            identify current barriers,
                            and develop a go-to-market approach to accelerate growth 
                        </span>
                        {% include morebutton.html %}
                    </div>

                    <div class="gallery-body">
                        <div class="title-wrapper">
                            <h5 class="blue-grey-text center-align"><b>
                                Go-to-market Strategy
                            </b></h5>
                        </div>
                        <p class="description">
                            {% include 08_gtm.html %}
                        </p>
                    </div>
                </div>  
            </div>

            <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter">
                <div class="gallery-curve-wrapper">

                    <div class="gallery-header indigo lighten-5">
                        <h5 class="blue-grey-text">
                            <b>Technology <br>Strategy</b>
                        </h5>
                        <span class="light">
                            Assess technology capabilities relative to strategic goals, established competitors,
                            and innovative tech-driven new entrants, and define roadmap to close capability gaps  
                        </span>
                        {% include morebutton.html %}
                    </div>

                    <div class="gallery-body">
                        <div class="title-wrapper">
                            <h5 class="blue-grey-text center-align"><b>
                                Technology Strategy
                            </b></h5>
                        </div>
                        <p class="description">
                            {% include 09_technology.html %}
                        </p>
                    </div>
                </div>  
            </div>

            <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter">
                <div class="gallery-curve-wrapper">

                    <div class="gallery-header indigo lighten-5">
                        <h5 class="blue-grey-text">
                            <b>Innovation <br>Process</b>
                        </h5>
                        <span class="light">
                            Establish a robust innovation process that spans innovation discovery, innovation concept testing 
                            and scaling of new products and services  
                        </span>
                        {% include morebutton.html %}
                    </div>

                    <div class="gallery-body">
                        <div class="title-wrapper">
                            <h5 class="blue-grey-text center-align"><b>
                                Innovation Process
                            </b></h5>
                        </div>
                        <p class="description">
                            {% include 10_innovation.html %}
                        </p>
                    </div>
                </div>  
            </div>

            <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter">
                <div class="gallery-curve-wrapper">

                    <div class="gallery-header indigo lighten-5">
                        <h5 class="blue-grey-text">
                            <b>Transformation <br>Management</b>
                        </h5>
                        <span class="light">
                            Create or enhance Transformation Management capabilities 
                            to manage complex portfolios of strategic initiatives
                        </span>
                        {% include morebutton.html %}
                    </div>

                    <div class="gallery-body">
                        <div class="title-wrapper">
                            <h5 class="blue-grey-text center-align"><b>
                                Transformation Management
                            </b></h5>
                        </div>
                        <p class="description">
                            {% include 11_change.html %}
                        </p>
                    </div>
                </div>  
            </div>

            <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter">
                <div class="gallery-curve-wrapper">

                    <div class="gallery-header indigo lighten-5">
                        <h5 class="blue-grey-text">
                            <b>Commercial <br>Due Diligence</b>
                        </h5>
                        <span class="light">
                            Conduct commercial due diligence on potential acquisition targets, assessing market attractiveness
                            and the strength of a target's market position
                        </span>
                        {% include morebutton.html %}
                    </div>

                    <div class="gallery-body">
                        <div class="title-wrapper">
                            <h5 class="blue-grey-text center-align"><b>
                                Commercial Due Diligence
                            </b></h5>
                        </div>
                        <p class="description">
                            {% include 12_cdd.html %}
                        </p>
                    </div>
                </div>  
            </div>

        </div>
    </div>
</div>