<div class="container">
    <div class="section">

      <h4>How We Can Help</h4>

      <p class="light">Please reach out to learn more about how we've driven meaningful impact 
      for clients, and how we can create a customized approach for your specific business situation.
      We've outlined our core offerings below.  </p>



      
      <div class="row">

          <div class="col s12 m6 l4">
            <div class="card-panel indigo lighten-5">
              <h5 class="blue-grey-text"><b>Growth <br>Diagnostic</b></h5>
              <span class="light">Conduct a growth diagnostic to 
                assess growth performance, 
                diagnose strength of growth and innovation opportunities, 
                and identify opportunities to accelerate growth 
              </span>
            </div>
          </div>
      

          <div class="col s12 m6 l4">
            <div class="card-panel indigo lighten-5">
              <h5 class="blue-grey-text"><b>Scenario <br>Planning</b></h5>
              <span class="light">Identify critical forces that will shape the environment over the next decade, 
                map out potential plausible futures (i.e., scenarios), and identify implications 
                and opportunities for growth
              </span>
            </div>
          </div>

          <div class="col s12 m6 l4">
            <div class="card-panel indigo lighten-5">
              <h5 class="blue-grey-text"><b>Strategy<br> Development</b></h5>
              <span class="light">Define where to focus resources ("where to play") and 
                how to compete effectively against competitors ("how to win") 
                by evaluating a range of strategic options
              </span>
            </div>
          </div>

          <div class="col s12 m6 l4">
            <div class="card-panel indigo lighten-5">
              <h5 class="blue-grey-text"><b>Business Case<br> Development</b></h5>
              <span class="light">Develop compelling business cases for new offerings and new businesses, 
                supported by robust financial models and in-depth market analysis
              </span>
            </div>
          </div>

          <div class="col s12 m6 l4">
            <div class="card-panel indigo lighten-5">
              <h5 class="blue-grey-text"><b>Market <br>Analysis</b></h5>
              <span class="light">Partner with our panel of industry experts to provide insight on the 
                competitive landscape and market dynamics, especially within underpenetrated
                customer segments
              </span>
            </div>
          </div>

          <div class="col s12 m6 l4">
            <div class="card-panel indigo lighten-5">
              <h5 class="blue-grey-text"><b>Customer <br> Research</b></h5>
              <span class="light">Design and field customer surveys to segment customers, 
                understand customer buying processes, 
                and identify competitive strengths and weaknesses
              </span>
            </div>
          </div>

          <div class="col s12 m6 l4">
            <div class="card-panel indigo lighten-5">
              <h5 class="blue-grey-text"><b>Product <br> Strategy</b> </h5>
              <span class="light">Define sources of competitive advantage and 
                align business units and functional teams 
                around a product vision, strategy and roadmap 
              </span>
            </div>
          </div>

          <div class="col s12 m6 l4">
            <div class="card-panel indigo lighten-5">
              <h5 class="blue-grey-text"><b>Go-to-market <br> Strategy</b> </h5>
              <span class="light">Create a customer segmentation, 
                map out the buying process at a segment level, 
                identify current barriers,
                and develop a go-to-market approach to accelerate growth 
              </span>
            </div>
          </div>

          <div class="col s12 m6 l4">
            <div class="card-panel indigo lighten-5">
              <h5 class="blue-grey-text"><b>Technology <br> Strategy</b> </h5>
              <span class="light">Assess technology capabilities relative to strategic goals, established competitors,
                 and innovative tech-driven new entrants, and define roadmap to close capability gaps  
              </span>
            </div>
          </div>

          <div class="col s12 m6 l4">
            <div class="card-panel indigo lighten-5">
              <h5 class="blue-grey-text"><b>Innovation<br>Process</b> </h5>
              <span class="light">Establish a robust innovation process that spans innovation discovery, innovation concept testing 
                and scaling of new products and services 
              </span>
            </div>
          </div>

          <div class="col s12 m6 l4">
            <div class="card-panel indigo lighten-5">
              <h5 class="blue-grey-text"><b>Change <br> Management</b> </h5>
              <span class="light">Create or enhance Change Management capabilities to manage complex portfolios of strategic initiatives
              </span>
            </div>
          </div>

          <div class="col s12 m6 l4">
            <div class="card-panel indigo lighten-5">
              <h5 class = "blue-grey-text"><b>Commerical <br> Due Diligence</b> </h5>
              <span class = "light">Conduct commercial due diligence on potential acquisition targets, assessing market attractiveness
                and the strength of a target's market position
              </span>
            </div>
          </div>
     

        <div class="col s12 m4">
          <div class="card small z-depth-5 hoverable">
            <div class="card-image">
              <img src="assets/images/rework1.jpg">
              <span class="card-title">
                  Growth Diagnostic
                </span>
            </div>
            <div class="card-content">
              <p>Conduct a growth diagnostic to identify key issues and capability gaps</p>
            </div>
            <div class="card-action">
              <a class="indigo-text" href="strategy.html">Learn More</a>
            </div>
          </div>
        </div> 

    

    </div>
  </div>

</div>
