    <div class="parallax-container">
      <div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <h2 class="header center white-text">Do you need help <br> driving profitable growth?</h2>
          <div class="row center">
            <h5 class="header col s12 light"> 
              DL Strategy Consulting can help you create 
              a compelling strategy, identify growth and innovation opportunities, 
              and execute to achieve your strategic growth priorities</h5>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="assets/images/background.jpg" alt="no image"></div>
    </div> 

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-grey-text"><i class="material-icons">call_split</i></h2>
            <h4 class="center">Strategy</h4>

            <p class="light center"><i>Are you evaluating whether to enter or exit new markets? </i></p>
            <p class="light center"><i>Do you need to stengthen your competitive positioning? </i></p>
            <p class="light center"><i>Do you face growing threats from new and incubment competitors?  </i></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-grey-text"><i class="material-icons">trending_up</i></h2>
            <h4 class="center">Growth</h4>
            <p class="light center"><i>Do you want to become the #1 or #2 player in target markets? </i></p>
            <p class="light center"><i>Do you need to accelerate growth to achieve financial goals?</i></p>
            <p class="light center"><i>Would you like to create a more robust innovation pipeline?</i></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-grey-text"><i class="material-icons">send</i></h2>
            <h4 class="center">Execution</h4>
            <p class="light center"><i>Do strategic initiatives exceed budget and miss deadlines?</i></p>
            <p class="light center"><i>Do you struggle with implementing agile at scale?</i></p>
            <p class="light center"><i>Are initiatives slow to surface and address execution risks?</i></p> 
          </div>
        </div>
      </div> 
    </div>
  </div>