/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 300px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
  /* .parallax-container .section {
    position: absolute;
    top: 40%;
  } */
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


@media only screen and (min-width: 0px) {
  .card-panel {
    height: 400px;
  }
}

@media only screen and (min-width: 992px) {
  .card-panel {
    height: 350px;
  }
}

@media only screen and (min-width: 1200px) {
  .card-panel {
    height: 300px;
  }
}

@media only screen and (min-width: 0px) {
  .gallery-header{
    height: 400px;
  }
}

@media only screen and (min-width: 992px) {
  .gallery-header{
    height: 350px;
  }
}

@media only screen and (min-width: 1200px) {
  .gallery-header{
    height: 300px;
  }
}

@media only screen and (min-width: 0px) {
  .card-box{
    height: 150px;
  }
}

@media only screen and (min-width: 992px) {
  .card-box{
    height: 120px;
  }
}

@media only screen and (min-width: 1200px) {
  .card-box{
    height: 100px;
  }
}

img {
display: block;
margin-left: auto;
margin-right: auto;
}

p {
  font-weight: 300;
}

ol {
  font-weight: 300;
}

ul {
  font-weight: 300;
  margin-left: 30px;
}

th{
  color: black;
  background: lightblue;
}

img[alt=Innovation] { width: 600px; }